[submodule "libpd"]
	path = libpd
	url = https://github.com/libpd/libpd
[submodule "extern/htreecpp"]
	path = extern/htreecpp
	url = ../../scisci/htreecpp.git
[submodule "extern/rtmidi"]
	path = extern/rtmidi
	url = ../../thestk/rtmidi
